<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>checkTest2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B61FDC641D03D16200B5A9D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61FDC781D03D16200B5A9D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61FDC831D03D16200B5A9D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
